.modal.fade.file-modal{'aria-hidden' => 'true', 'aria-labelledby' => 'myFileModalLabel', role: 'dialog', tabindex: '-1'}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal', :type => 'button'}
          %span{'aria-hidden' => 'true'} ×
          %span.sr-only Закрити
        %h4.modal-title Новий файл
      .modal-body
        = form_for @sub_file do |f|
          = f.file_field :content, title: 'Вибрати файл'
          %div= f.label 'Видимий'
          = f.check_box :visible
          %div= f.hidden_field :parent_id, value: @parent.id
          .modal-footer
            %button{'data-dismiss' => 'modal', :type => 'button', class: 'btn btn-default'} Сказувати
            = f.submit 'Зберегти', class: 'btn btn-custom'