.container.signin

  = form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
    = devise_error_messages!

    %h3{ :class => 'form-signin-heading' }Please sign up

    .field= f.text_field :name, autofocus: true, placeholder: :name

    .field= f.text_field :full_name, placeholder: :full_name

    .field= f.email_field :email, placeholder: :email

    .field= f.collection_select(:role_id, Role.all[0..1], :id, :name, :onChange => 'changeUserStatus();')
    .field= f.collection_select(:group_id, Group.all, :id, :name, include_blank: true)

    .field= f.password_field :password, autocomplete: 'off', placeholder: :password

    .field= f.password_field :password_confirmation, autocomplete: 'off', placeholder: :password_confirmation

    %p
    .actions= f.submit 'Sign up'

= render 'devise/shared/links'
