.modal-dialog
  .modal-content
    .modal-header
      %h3= "Editing #{@sub_file.name}"

    = form_for @sub_file, remote: true, html: { multipart: true, class: 'form-horizontal', style: 'display:inline;' }, authenticity_token: true do |f|
      .modal-body
        %ul.errors
        .control-group
          -#= f.label :name, class: 'control-label'
          .controls
            = f.file_field :content
      .modal-footer
        = form_authenticity_token
        = f.submit class: 'btn btn-primary'
        = link_to 'Cancel', '', class: 'btn', data: {dismiss: 'modal'}
