.modal-dialog
  .modal-content
    .modal-header
      .modal-title-subj
        %div{style: 'float:left'} Редагування
        %div{style: 'color: #f0ad4e'}= '"' + @sub_file.name + '"'

    = form_for @sub_file, remote: true, html: { multipart: true, class: 'form-horizontal', style: 'display:inline;' }, authenticity_token: true do |f|
      .modal-body
        = f.file_field :content, class: 'btn btn-default btn-file', title: 'Вибрати файл'
      .modal-footer
        -#= form_authenticity_token
        = f.submit 'Зберегти', class: 'btn btn-warning'
        = link_to 'Скасувати', '', class: 'btn', data: {dismiss: 'modal'}
