.container

  %a.btn.btn-subj Invite codes

  .row
    .col-md-12
      %table{ id: '#mytable1', class: 'table table-bordred table-striped' }
        %thead
          %th Full name
          %th Name
          %th Group
          %th Edit group
          %th Delete
        %tbody
          - @students.each do |user|
            = link_to user_path(user.id) do
              %tr
                %td= user.full_name
                %td= link_to user.name
                %td= user.group.name
                %td
                  = link_to edit_student_path(user), remote: true do
                    .btn.btn-sm.btn-info
                      %i.fa.fa-edit
                %td
                  = link_to root_path, remote: true do
                    .btn.btn-sm.btn-danger
                      %i.fa.fa-trash