.container

  %a.btn.btn-subj.forget{ 'data-target' => '.group-modals', 'data-toggle' => 'modals', href: 'javascript:;' } Нова група
  = render 'groups/modals/new_group'

  %a.btn.btn-subj Спеціальності



  .row
    .col-md-12
      %table{ id: '#mytable1', class: 'table table-bordred table-striped' }
        %thead
          %th Назва
          %th Курс
          %th Спеціальність
          %th Видалити
          %th Invite-коди
        %tbody
          - @groups.each do |group|
            %tr
              %td= link_to group.name, group_path(group.id)
              %td= group.course
              %td= group.speciality.short_name
              %td
                = link_to root_path, remote: true do
                  .btn.btn-sm.btn-danger
                    %i.fa.fa-trash
              %td
                = link_to root_path, remote: true do
                  .btn.btn-sm.btn-info
                    %i.fa.fa-eye
                = link_to root_path, remote: true do
                  .btn.btn-sm.btn-subj
                    %i.fa.fa-refresh
