.container
  .row
    .col-md-12
      %div{style: 'font-size: 40px;'}= @group.name
      - if @students.empty?
        %div{style: 'font-size: 20px'}У цій групі поки що нікого не зареєстровано
      - else
        %table{ id: '#mytable1', class: 'table table-bordred table-striped sortable' }
          %thead
            %th №
            %th Повне імя
            %th Логін
            %th E-mail
            %th{'data-defaultsort'=>'disabled'} Редагувати
            %th{'data-defaultsort'=>'disabled'} Видалити
          %tbody
            - n = 0
            - @students.sort_by{|obj| obj.full_name}.each do |user|
              = link_to user_path(user.id) do
                %tr
                  %td= (n+=1).to_s
                  %td= user.full_name
                  %td= user.name
                  %td= user.email
                  %td
                    = link_to edit_student_path(user), remote: true do
                      .btn.btn-sm.btn-info
                        %i.fa.fa-edit
                  %td
                    = link_to student_delete_path(user.id), remote: true do
                      .btn.btn-sm.btn-danger
                        %i.fa.fa-trash