.container

  .row
    = @group.name

  .row
    .col-md-12
      %table{ id: '#mytable1', class: 'table table-bordred table-striped sortable' }
        %thead
          %th №
          %th Повне імя
          %th Логін
          %th Група
          %th{'data-defaultsort'=>'disabled'} Редагувати
          %th{'data-defaultsort'=>'disabled'} Видалити
        %tbody
          - n = 0
          - @students.sort_by{|obj| obj.full_name}.each do |user|
            = link_to user_path(user.id) do
              %tr
                %td= (n+=1).to_s
                %td= user.full_name
                %td= link_to user.name
                %td= user.group.name
                %td
                  = link_to edit_student_path(user), remote: true do
                    .btn.btn-sm.btn-info
                      %i.fa.fa-edit
                %td
                  = link_to root_path, remote: true do
                    .btn.btn-sm.btn-danger
                      %i.fa.fa-trash