.container
  %div.btn.btn-sm KJKJ

  %br

  .row
    .col-md-12
      %table{ id: '#mytable', class: 'table table-bordred table-striped' }
        %thead
          %th Name
          %th Type
          %th Date
          %th D-load
          %th Fav
        %tbody
          - @fav_folders.each do |item|
            %tr
              %td= link_to item.name, subject_path(id: item.subject.id, parent: item)
              %td folder
              %td= item.updated_at.strftime('%d/%m/%Y')
              %td= '-'
              %td
                = link_to edit_folder_path(item), remote: true do
                  .btn.btn-sm.btn-warning
                    %i.fa.fa-star
          - @fav_files.each do |item|
            %tr
              %td= link_to item.name, sub_file_path(item.id)
              %td= item.format
              %td= item.updated_at.strftime('%d/%m/%Y')
              %td
                = link_to item.content.url, download: item.name do
                  .btn.btn-sm.btn-subj
                    %i.fa.fa-download
              %td
                = link_to edit_sub_file_path(item), remote: true do
                  .btn.btn-sm.btn-warning
                    %i.fa.fa-star