= link_to @subject.name, subject_path(@subject.id)
- if !@parent.root?
  - @current_path.reverse_each do |folder|
    >
    = link_to folder.name, subject_path(id: @subject.id, parent: folder)

%br

%a.forget{ 'data-target' => '.group-modal', 'data-toggle' => 'modal', href: 'javascript:;' } Groups
= render 'subjects/modals/groups'

%a.forget{ 'data-target' => '.folder-modal', 'data-toggle' => 'modal', href: 'javascript:;' } New folder
= render 'folders/new_folder'

.container
  .row
    .col-md-12
      .table-responsive
        %table{ id: '#mytable', class: 'table table-bordred table-striped' }
          %thead
            %th Name
            %th Type
            %th Date
            %th Edit
            %th Delete
          %tbody
            - @subject.folders.where(parent_id: @parent).each do |item|
              %tr
                %td= link_to item.name, subject_path(id: @subject.id, parent: item)
                %td folder
                %td= item.updated_at.strftime('%d/%m/%Y')
                %td
                  = link_to edit_folder_path(item), remote: true do
                    .btn.btn-sm.btn-info
                      %i.fa.fa-edit
                %td
                  -#%p{ 'data-placement' => 'top', 'data-toggle' => 'tooltip', title: 'Delete' }
                  -#  %button.btn.btn-danger.btn-xs{ 'data-target' => '#delete', 'data-title' => 'Delete', 'data-toggle' => 'modal'}
                  -#    %span.glyphicon.glyphicon-trash
                  = link_to folder_delete_path(item), remote: true do
                    .btn.btn-sm.btn-danger
                      %i.fa.fa-trash
