.container
  .folder-path
    = link_to @subject.name, subject_path(@subject.id), style: 'text-decoration:none'
    - if !@parent.root?
      - @current_path.reverse_each do |folder|
        >
        = link_to folder.name, subject_path(id: @subject.id, parent: folder), style: 'text-decoration:none'

  .pull-right
    %a.btn.btn-subj.forget{ 'data-target' => '.groups-modal', 'data-toggle' => 'modal', href: 'javascript:;' } Групи
    = render 'subjects/modals/groups'

    %a.btn.btn-subj.forget{ 'data-target' => '.folder-modal', 'data-toggle' => 'modal', href: 'javascript:;' } Нова тека
    = render 'folders/new_folder'

    %a.btn.btn-subj.forget{ 'data-target' => '.file-modal', 'data-toggle' => 'modal', href: 'javascript:;' } Новий файл
    = render 'sub_files/new_file'


  .row
    .col-md-12
      - if (@subject.folders.where(parent_id: @parent).empty? && @subject.sub_files.where(parent_id: @parent).empty?)
        %center{style: 'font-size: 20px'}Поки що ви нічого не додавали
      - else
        %table{ id: '#mytable', class: 'table table-bordred table-striped sortable' }
          %thead
            %th Назва
            %th Тип
            %th{'data-defaultsign'=>'month'} Дата
            %th{'data-defaultsort'=>'disabled'} Завант-ти
            %th{'data-defaultsort'=>'disabled'} Видимість
            %th{'data-defaultsort'=>'disabled'} Редагувати
            %th{'data-defaultsort'=>'disabled'} Видалити
          %tbody
            - @subject.folders.where(parent_id: @parent).sort_by{|obj| obj.name}.each do |item|
              %tr
                %td
                  %b= link_to item.name, subject_path(id: @subject.id, parent: item)
                %td тека
                %td= item.updated_at.strftime('%d/%m/%Y')
                %td= '-'
                %td
                  = link_to folder_visible_path(item), method: :put, remote: true, data: { id: item.id }  do
                    - if item.visible
                      .btn.btn-sm.btn-info.btn-ch
                        %i.fa.fa-eye
                    - else
                      .btn.btn-sm.btn-info.btn-ch.btn-gray
                        %i.fa.fa-eye
                %td
                  = link_to edit_folder_path(item), remote: true do
                    .btn.btn-sm.btn-warning
                      %i.fa.fa-edit
                %td
                  = link_to folder_delete_path(item), remote: true do
                    .btn.btn-sm.btn-danger
                      %i.fa.fa-trash
            - @subject.sub_files.where(parent_id: @parent).sort_by{|obj| obj.name}.each do |item|
              %tr
                %td= link_to item.name, sub_file_path(item.id)
                %td= item.format_ua
                %td= item.updated_at.strftime('%d/%m/%Y')
                %td
                  = link_to item.content.url, download: item.name do
                    .btn.btn-sm.btn-subj
                      %i.fa.fa-download
                %td
                  = link_to sub_file_visible_path(item), method: :put, remote: true, data: { id: item.id } do
                    - if item.visible
                      .btn.btn-sm.btn-info.btn-ch
                        %i.fa.fa-eye
                    - else
                      .btn.btn-sm.btn-info.btn-ch.btn-gray
                        %i.fa.fa-eye
                %td
                  = link_to edit_sub_file_path(item), remote: true do
                    .btn.btn-sm.btn-warning
                      %i.fa.fa-edit
                %td
                  = link_to sub_file_delete_path(item), remote: true do
                    .btn.btn-sm.btn-danger
                      %i.fa.fa-trash
  .row
    .col-md-12
      .btn.btn-subj= link_to 'Видалити предмет', subject_delete_path(@subject), remote: true
      %a.btn.btn-subj.forget{ 'data-target' => '.subject-modal', 'data-toggle' => 'modal', href: 'javascript:;' } Змінити назву предмета
      = render 'subjects/modals/edit'