.modal-dialog
  .modal-content
    .modal-header
      .modal-title-subj
        %div{style: 'float:left'} Згенерувати коди запрошення для групи
        %div{style: 'color: #f0ad4e'}= '"' + @group.name + '"'

    = form_tag({controller: 'groups', action: 'create_invite_codess'}, :method => "post") do
      .modal-body
        %ul.errors
        .control-group
          .control-label= 'Кількість'
          = text_field_tag :number, '', class: 'form-control'
      .modal-footer
        = submit_tag 'Згенерувати', class: 'btn btn-warning'
        = link_to 'Скасувати', '', class: 'btn', data: {dismiss: 'modals'}