.modal.fade.group-modal{'aria-hidden' => 'true', 'aria-labelledby' => 'myGroupModalLabel', role: 'dialog', tabindex: '-1'}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modals', :type => 'button'}
          %span{'aria-hidden' => 'true'} ×
          %span.sr-only Закрити
        %h4.modal-title Нова група
      .modal-body
        = form_for @group do |f|
          %div= f.label 'Назва'
          = f.text_field :name, class: 'form-control'
          %div= f.label 'Курс'
          = f.text_field :course, class: 'form-control'
          %div= f.label 'Спеціальність'
          = f.collection_select(:speciality_id, Speciality.all, :id, :short_name, {}, {class: 'btn btn-default dropdown-toggle form-control'})
          .modal-footer
            %button{'data-dismiss' => 'modals', :type => 'button', class: 'btn btn-default'} Скасувати
            = f.submit 'Зберегти', class: 'btn btn-custom'