.modal-dialog
  .modal-content
    .modal-header
      .modal-title-subj
        %div{style: 'float:left'} Редагування
        %div{style: 'color: #f0ad4e'}= '"' + @user.name + '"'

    = form_for @user, url: url_for(:controller => 'students', :action => 'update'), remote: true, html: { class: 'form-horizontal', style: 'display:inline;' } do |f|
      .modal-body
        %ul.errors
        .control-group
          = f.label 'Група'
          = f.collection_select(:group_id, Group.all, :id, :name, {include_blank: true}, {class: 'btn btn-default dropdown-toggle'})
      .modal-footer
        = f.submit 'Оновити', class: 'btn btn-warning'
        = link_to 'Скасувати', '', class: 'btn', data: {dismiss: 'modals'}
