%section{ id: 'login' }
  .container
    .row
      .col-xs-12
        .form-wrap
          %h1 Log in
          = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
            .form-group
              %label.sr-only{for: 'email'} Email
              = f.email_field :email, autofocus: true, placehplder: :email, class: 'form-control', id: 'email'
            .form-group
              %label.sr-only{for: 'key'} Password
              = f.password_field :password, autocomplete: 'off', placehplder: :password, class: 'form-control', id: 'key'
            .checkbox
              %span.character-checkbox{:onclick => 'showPassword()'}
              %span.label Show password
            = f.submit 'Sign in', class: 'btn btn-custom btn-lg btn-block', id: 'btn-login'
          %a.forget{ 'data-target' => '.forget-modals', 'data-toggle' => 'modals', href: 'javascript:;' } Forgot your password?
          %a.forget{ href: new_registration_path(resource_name) } Registrate
          %hr

= render 'devise/passwords/new'
