.modal.fade.folder-modal{'aria-hidden' => 'true', 'aria-labelledby' => 'myFolderModalLabel', role: 'dialog', tabindex: '-1'}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal', :type => 'button'}
          %span{'aria-hidden' => 'true'} ×
          %span.sr-only Close
        %h4.modal-title New Folder
      .modal-body
        = form_for @folder, url: create_folder_path do |f|
          %div= f.label :name
          %div= f.text_field :name
          %div= f.hidden_field :parent_id, value: @parent.id
          .modal-footer
            %button{'data-dismiss' => 'modal', :type => 'button', class: 'btn btn-default'} Cancel
            = f.submit 'Save', class: 'btn btn-custom'