Students
%ul.list-group
  - @specialities.each do |speciality|
    %li.list-group-item
      = speciality.short_name + ' (' + speciality.name + ')'
      - @groups.where(speciality_id: speciality.id).each do |group|
        %li.list-group-item
          = link_to group.name
          - @users.where(group_id: group.id).each do |user|
            %li.list-group-item
              = link_to user.name, user_path(user.id)
Teachers
%ul.list-group
  - User.teachers.each do |teacher|
    %li.list-group-item
      = link_to teacher.name, user_path(teacher.id)



.container
  .row
    .col-md-12
      .table-responsive
        %table{ id: '#mytable1', class: 'table table-bordred table-striped' }
          %thead
            %th Name
            %th Full name
            %th Group
            %th Edit
            %th Delete
          %tbody
            - @students.each do |item|
              = link_to user_path(item.id) do
                %tr
                  %td= link_to item.name
                  %td= item.full_name
                  %td= item.group.name
                  %td
                    = link_to root_path, remote: true do
                      .btn.btn-sm.btn-info
                        %i.fa.fa-edit
                  %td
                    = link_to root_path, remote: true do
                      .btn.btn-sm.btn-danger
                        %i.fa.fa-trash
      .table-responsive
        %table{ id: '#mytable2', class: 'table table-bordred table-striped' }
          %thead
            %th Name
            %th Full name
            %th= '    '
            %th Edit
            %th Delete
          %tbody
            - @teachers.each do |item|
              %tr
                %td= link_to item.name
                %td= item.full_name
                %td= '    '
                %td
                  = link_to root_path, remote: true do
                    .btn.btn-sm.btn-info
                      %i.fa.fa-edit
                %td
                  = link_to root_path, remote: true do
                    .btn.btn-sm.btn-danger
                      %i.fa.fa-trash