%html
  %head
    %title Project Name
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if user_signed_in?
      %nav.navbar.navbar-default
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse', type: 'button'}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            -#.navbar-brand= link_to 'Project name'
            %img{ src: '/assets/hpk.png', style: 'height:50px' }
          .navbar-collapse.collapse
            %ul.nav.navbar-nav

              - if current_user.admin?
                %li= link_to 'Групи', groups_path
                %li= link_to 'Викладачі', teachers_path
              - if current_user.student?
                %li= link_to 'Вибране', favourites_path
                %li.dropdown
                  %a.dropdown-toggle{'aria-expanded' => 'false', 'data-toggle' => 'dropdown', href: '', role: 'button'}
                    Subjects
                    %span.caret
                  %ul.dropdown-menu{role: 'menu'}
                    - @subjects = current_user.group.subjects.all
                    - @subjects.each do |subject|
                      %li
                        %a=link_to subject.name, subject_path(subject.id)
              - else
                %li= link_to 'Предмети', subjects_path
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{'aria-expanded' => 'false', 'data-toggle' => 'dropdown', href: '', role: 'button'}
                  = current_user.name
                  %span.caret
                %ul.dropdown-menu{role: 'menu'}
                  %li
                    - if current_user.admin?
                      %a=link_to 'Змінити пароль'
                    - else
                      %a=link_to 'Налаштування', edit_user_registration_path
                  %li
                    - if !current_user.admin?
                      %a=link_to 'Користувачі', users_path
                  %li.divider
                  %li= link_to 'Вийти', destroy_user_session_path, method: :delete

    = yield
    #modals.modal.fade
